.full-width{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.bg-primary{
    background-color: #007A7C !important;
}

.bg-secondary{
    background-color: #007FAA !important;
}

.bg-alert{
    background-color: #D43900 !important;
}

.drop-shadow{
    box-shadow: 0px 2px 5px 0px #C1C1C1;
}

.margin-top{
    margin-top: 5em;
}

.top-bar.expanded .title-area {
    background-color: #007A7C !important;
}